<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>You Must Log In! - TinyApp</title>
  </head>

  <body>

    <%- include('../partials/_header') %>

    <main>
      Whoa there, you're not logged in! Please log into your account to view, edit, and create short links! 
    </main>
  </body>
</html>