<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>You Must Log In! - TinyApp</title>
  </head>

  <body>
    <%- include('../partials/_header') %>

    <main style="margin: 1em">
      A user with that email address already exitsts!
    </main>
  </body>
</html>
