<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Error - Short Link Does Not Exist - TinyApp</title>
  </head>

  <body>

    <%- include('../partials/_header') %>

    <main>
      An error has occured. This short link has not been assigned to an existing URL
    </main>
    
  </body>
</html>