<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Registration</title>
  </head>
  <%- include('partials/_header') %>
  <body>
    <main style="margin: 1em">
        <h3>Create Account</h3>
            <form method="post" action="/register">
                <div class="form-group mb-2">
                    <label for = "email">Email</label>
                    <input type="email" name="email" /></p>
                    <label for="password">Password</label>
                    <input type="password" name="password" /></p>
                    <button>Register</button>
                 </div>
            </form>
    </main>
  </body>
</html>